.rst__rowWrapper {
  padding: 10px 10px 10px 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rst__row {
  height: 100%;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
}

.row_headline {
  height: 75px;
  width: 50%;
  border: solid #aaa 1px;
  -webkit-box-shadow: 0 2px 2px -2px;
  box-shadow: 0 2px 2px -2px;
  cursor: move;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
