.table-btn {
  width: 25px;
  height: 25px;
  /* cursor: pointer;
  font-size: large !important; */
}

/* .table-btn:hover {
  opacity: 0.6;
  border: 1px solid black;
} */

.ReactTable .-pagination .-btn {
  background-color: var(--gg-blue) !important;
  color: white !important;
}

.ReactTable .-pagination .-btn:enabled:hover {
  opacity: 0.8;
}

.ReactTable .-loading.-active {
  margin-top: 6.2%;
  margin-bottom: 4.2%;
}

.image-icon {
  margin-bottom: 10px;
}

.caution-color {
  color: red;
}

.edit-icon {
  color: var(--gg-blue);
}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: #e2e8ef !important;
} 
.ReactTable {
  background-color: #fff !important;
}
